<div class="body">
    <div class="container">
        <div class="row">
    	   <% if @places_search.count >0 %>
    	       <h3>観光地検索一覧</h3>
    	       <div class="row">
    	           <% @places_search.each do |place| %>
                        <div class="col-xs-4">
                            <%= link_to place_show_count_path(place), method: :patch do %>
                                <%= place.place_name %>
                                    <p><%= attachment_image_tag place, :place_image, :fill, 300, 200, format: "jpg", fallback:"/images/no_image.jpg", size:'300x200' %></p>
                            <% end %>
                        </div>
    	           <% end %>
                </div>
            <% else %>
             <h2>検索に一致する場所がありませんでした。</h2>
    		<% end %>
        </div>
    </div>
</div>