<div class="body">
    <div class="container">
        <div class="row">
    	   <% if @places_search.count >0 %>
    	       <h3>観光地検索一覧</h3>
    	       <div class="row">
    	           <% @places_search.each do |place| %>
    		          <%= link_to place_path(place) do %>
    		              <%= attachment_image_tag place, :place_image, :fill, 400, 200, format: "jpg", fallback:"no_image.jpg" %>
    		          <% end %>
    		       <  %= place.place_name %>
    	           <% end %>
                </div>
            <% else %>
             <h2>検索に一致する場所がありませんでした。</h2>
    		<% end %>
        </div>
    </div>
</div>