<div class="body">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h3>旅の記録を投稿しよう</h3>
				日付の追加
				<%= render 'public/records/form', record_new: @record_new %>
			</div>
		</div>
	</div>
</div>
