/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bxslider
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.clearfix:after {
	content:"";
	display:block;
	clear: both;
}

 .header_logo{
   font-size: 50px;
   color: black;
 }

 .a{
   	margin: auto;
	text-align: center;
 }

 .body{
    margin-top:50px;
    margin-bottom: 40px;
 }


.head{
	font-size: 30px;
  text-align: center;
}

.bottom{
	margin: auto;
}

footer{
	height: 50px;
}

.header_logo{
    text-decoration: none;
    font-weight: bold;
    font-size: 37px;
    color: #799dec;
    text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.32), 0px 1px 0px #6182ca, 0px 2px 0px #4f6aa7, 0px 3px 0px #5470ad;
}
.header_logo:active {
    top: 4px;
    text-shadow: none;
}

.sign{
	background-color: white;
	width: 40%;
	margin: auto;
	margin-top: 60px;
	text-align: center;
}

.registration_path{
	background-color: orange;
	color: black;
	font-size: 40px;
}

.log_in_path{
	font-size: 30px;
}

.user-image{
	border-radius: 50%;
}

.user-update {
  display: block;
  width: 160px;
  padding: 0.8em;
  text-align: center;
  text-decoration: none;
  color: #4CAF50;
  border: 2px solid #4CAF50;
  border-radius: 3px;
  transition: .4s;
}
.user-update:hover {
  background: #4CAF50;
  color: #fff;
}

.user-left{
	margin: auto;
	text-align: center;
}

.edit-user{
	margin-top: 20px;
}

.search-random{
  margin-bottom:30px
}

.regions{
  float: left;
  margin-left: 20px;
}

.map{
  float: left;
}

.go{
  margin-bottom: 15px;
  margin-right: 10px;
}

.place_introduction{
    margin:2em 0;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    width: 500px;
}
.place_introduction:before, .place_introduction:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: black;
}
.place_introduction:before {left: 10px;}
.place_introduction:after {right: 10px;}
.place_introduction p {
    margin: 0;
    padding: 0;
}

.comments-title {
color: #364e96;
border: solid 3px #364e96;
padding: 0.5em;
border-radius: 0.5em;
width: 150px;
}

.balloon1-top {
	position: relative;
	display: inline-block;
 	margin: 1.5em 0;
	padding: 7px 10px;
	min-width: 120px;
 	max-width: 100%;
 	color: #555;
	font-size: 16px;
	background: #e0edff;
	border-radius: 15px;
}

.balloon1-top:before{
	content: "";
	position: absolute;
	top: -30px;
	left: 50%;
 	margin-left: -15px;
	border: 15px solid transparent;
	border-bottom: 15px solid #e0edff;
}

.balloon1-top p {
	margin: 0;
	padding: 0;
}

.registration_btn {
    font-size: 30px;
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #fd9535;/*背景色*/
    border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
}

.registration_btn:active {
    border-bottom: solid 2px #fd9535;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.registration_btn:hover {
    background: blue;
    color: white;
}

.log_in_path {
    font-size: 30px;
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: blue;/*背景色*/
    border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(0,0,0,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
}

.log_in_path:active {
    border-bottom: solid 2px #fd9535;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.log_in_path:hover {
    background: orange;
    color: white;
}

.random{
  display: inline-block;
  text-decoration: none;
  background: #87befd;
  color: #FFF;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  transition: .4s;
}

.random:hover{
    background: #668ad8;
}

.fukidashi {
  display: none;
  position: absolute;
  padding: 16px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: #333;
  color: #fff;
}

.fukidashi:after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border: solid transparent;
  border-color: rgba(51, 51, 51, 0);
  border-bottom-color: #333;
  border-width: 10px;
  pointer-events: none;
  content: " ";
}

.random:hover + .fukidashi {
   display: block;
}

.went {
  display: inline-block;
  max-width: 180px;
  text-align: left;
  border: 2px solid #9ec34b;
  font-size: 16px;
  color: #9ec34b;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  transition: .4s;
  margin-left: 15px;
}

.went:hover {
  background-color: #9ec34b;
  border-color: #cbe585;
  color: #FFF;
}

.field {
  position: relative;
  width: 100%;
  margin: 40px 3%;
}
.field input[type='text'] {
  font: 15px/24px sans-serif;
  box-sizing: border-box;
  width: 100%;
  padding: 0.3em;
  padding-left: 40px;
  letter-spacing: 1px;
  border: 0;
}

.email-field input[type="email"] {
  font: 15px/24px sans-serif;
  box-sizing: border-box;
  width: 100%;
  padding: 0.3em;
  padding-left: 40px;
  letter-spacing: 1px;
  border: 0;
}

.password-field input[type="email"] {
  font: 15px/24px sans-serif;
  box-sizing: border-box;
  width: 100%;
  padding: 0.3em;
  padding-left: 40px;
  letter-spacing: 1px;
  border: 0;
}

.field input[type='text']:focus {
  outline: none;
}
.field input[type='text']:focus::after {
  outline: none;
}
.field i {
  position: absolute;
  top: 0;
  left: 0;
  padding: 9px 5px;
  transition: 0.3s;
  color: #aaaaaa;
}
.field::after {
  display: block;
  width: 100%;
  height: 4px;
  margin-top: -1px;
  content: '';
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #da3c41;
}

.comment-title input[type='text'] {
  font: 15px/24px sans-serif;
  box-sizing: border-box;
  padding: 0.3em;
  transition: 0.3s;
  letter-spacing: 1px;
  border: 5px solid #1b2538;
  border-radius: 4px;
}

.ef input[type='text']:focus {
  border: 5px solid #da3c41;
  outline: none;
}

.comment-text textarea {
  font: 15px/24px sans-serif;
  box-sizing: border-box;
  width: 300px;
  height: 100px;
  padding: 0.3em;
  transition: 0.3s;
  letter-spacing: 1px;
  border: 5px solid #1b2538;
  border-radius: 4px;
}

.gh textarea:focus {
  border: 5px solid #da3c41;
  outline: none;
}

.comment-submit {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 160px;
  padding: 1em;
  line-height: 1.4;
  cursor: pointer;
  user-select: none;
  color: #ffffff;
  border: 1px solid #FFB300;
  border-radius: 0.25rem;
  background: #FFB300;
}
.comment-submit:after {
  position: absolute;
  display: block;
  margin-top: -120%;
  margin-left: -120%;
  padding-top: 240%;
  padding-left: 240%;
  content: '';
  transition: all 1s;
  opacity: 0;
  border-radius: 50%;
  background: rgba(255,255,255,0.3);
}
.comment-submit:hover {
  color: #ffffff;
  border-color: #FF8F00;
  background-color: #FF8F00;
}
.comment-submit:active:after {
  margin-top: 0;
  margin-left: 0;
  padding-top: 0;
  padding-left: 0;
  transition: 0s;
  opacity: 1;
}
.comment-submit:focus {
  color: #ffffff;
  border: 1px solid #FFB300;
}

.record-title {
  position: relative;
  width: 40%;
  margin: 40px 3%;
}

.record-title input[type='text'] {
  font: 15px/24px sans-serif;
  box-sizing: border-box;
  width: 100%;
  letter-spacing: 1px;
  padding-left: 4em;
}
.record-title input[type='text']:focus {
  outline: none;
}
.ab {
  padding: 4px 0;
  border: 0;
  border-bottom: 1px solid #1b2538;
  background-color: transparent;
}
.ab ~ .title-focus-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  transition: 0.4s;
  background-color: #da3c41;
}
.ab:focus ~ .title-focus-line,
.record-title.ab ~ .title-focus-line {
  width: 100%;
  transition: 0.4s;
}
.ab ~ label {
  position: absolute;
  z-index: -1;
  top: 4px;
  left: 0;
  width: 100%;
  transition: 0.3s;
  letter-spacing: 0.5px;
  color: #aaaaaa;
}
.ab:focus ~ label, .record-title.ab ~ label {
  font-size: 12px;
  top: -16px;
  transition: 0.3s;
  color: #da3c41;
}

.record-text {
  position: relative;
  width: 80%;
  margin: 40px 3%;
}
.record-text textarea {
  font: 15px/24px sans-serif;
  box-sizing: border-box;
  width: 100%;
  letter-spacing: 1px;
  padding-left: 4em;
}
.record-text textarea:focus {
  outline: none;
}
.cd {
  padding: 4px 0;
  border: 0;
  border-bottom: 1px solid #1b2538;
  background-color: transparent;
}
.cd ~ .focus_line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  transition: 0.4s;
  background-color: #da3c41;
}
.cd:focus ~ .focus_line,
.record-text.cd ~ .focus_line {
  width: 100%;
  transition: 0.4s;
}
.cd ~ label {
  position: absolute;
  z-index: -1;
  top: 4px;
  left: 0;
  width: 100%;
  transition: 0.3s;
  letter-spacing: 0.5px;
  color: #aaaaaa;
}
.cd:focus ~ label, .record-text.cd ~ label {
  font-size: 12px;
  top: -16px;
  transition: 0.3s;
  color: #da3c41;
}

.record-submit {
  display: block;
  text-decoration:none;
  width: 160px;
  padding: 0.8em;
  text-align: center;
  color: #FFF;
  border-radius: 4px;
  background: #4DD0E1;
  overflow: hidden;
}

.record-submit span {
  display:inline-block;
  transition: .5s
}

.record-submit:hover span {
  transform: rotateX(360deg);
}

.resord-title-show{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #474747;
    background: whitesmoke;/*背景色*/
    border-left: double 7px #4ec4d3;/*左線*/
    border-right: double 7px #4ec4d3;/*右線*/
}
.resord-title-show p {
    margin: 0;
    padding: 0;
}

.record-text-show {
    padding: 0.5em 1em;
    margin: 2em 0;
    border: double 5px #4ec4d3;
}
.record-text-show p {
    margin: 0;
    padding: 0;
}

.spot-title-show {
    width: 50%;
    padding: 0.2em 0.5em;
    margin: 2em 0;
    color: #565656;
    background: #ffeaea;
    box-shadow: 0px 0px 0px 10px #ffeaea;
    border: dashed 2px #ffc3c3;
    border-radius: 8px;
}
.spot-title-show p {
    margin: 0;
    padding: 0;
}

.spot-name {
 border-bottom: double 5px #FFC778;
 font-size: 25px;
}